<h1><%= @restaurant.name %></h1>
  <%= @restaurant.address %>
  <%= @restaurant.phone_number %>
  <%= @restaurant.category %>
<%= link_to "Home", restaurants_path(@restaurants) %>

<h1>Reviews</h1>
<ul list-style: none>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content%></li>
    <li><%= review.rating%>/5</li>
  <% end %>
</ul>

<%= link_to 'Edit', restaurant_reviews_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>

<%# <% <a name="Create a new review" id="Create a new review" class="btn btn-primary" href="reviews/new" role="button">Create a new review</a>
</div> %>